* { font-family: "JetBrainsMono Nerd Font"; font-size: 13px; font-weight: bold; border: none; border-radius: 0; }
window#waybar { background-color: transparent; }
#workspaces, #clock, #pulseaudio, #network, #battery, #cpu, #custom-playerctl {
    background-color: #7c4dff; color: #ffffff; padding: 0px 12px; border-radius: 10px; margin: 5px 3px;
}
#workspaces button { color: rgba(255, 255, 255, 0.3); padding: 0px 6px; font-size: 10px; }
#workspaces button.active { color: #ffffff; }
#custom-power, #custom-reboot, #custom-logout {
    background-color: #f38ba8; color: #111111; padding: 0px 12px; border-radius: 10px; margin: 5px 2px;
}
